USE [prueba]
GO
/****** Objeto: Table [dbo].[PagosClientes] Fecha de script: 02/10/2026 12:01:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PagosClientes](
	[ID_Pago] [int] IDENTITY(1,1) NOT NULL,
	[Cliente] [varchar](50) NULL,
	[Monto_Pagado] [decimal](10, 2) NULL,
	[Fecha_Pago] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[V_ResumenPagos] Fecha de script: 02/10/2026 12:01:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_ResumenPagos] AS
SELECT 
c.Cliente,
c.Monto_Solicitado,
ISNULL(SUM(p.Monto_Pagado), 0) AS Total_Pagado,
c.Monto_Solicitado - ISNULL(SUM(p.Monto_Pagado), 0) AS Saldo_Pendiente
FROM V_ReporteCartera c
LEFT JOIN PagosClientes p ON c.Cliente = p.Cliente
GROUP BY c.Cliente, c.Monto_Solicitado;
GO
/****** Objeto: View [dbo].[Vista_UltimosPagosClientes] Fecha de script: 02/10/2026 12:01:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Vista_UltimosPagosClientes] AS
WITH PagosOrdenados AS (
SELECT
ID_Pago,
Cliente,
Monto_Pagado,
Fecha_Pago,
ROW_NUMBER() OVER(PARTITION BY Cliente ORDER BY Fecha_Pago DESC) AS Num_Pago
FROM PagosClientes
)
SELECT
ID_Pago,
Cliente,
Monto_Pagado,
Fecha_Pago
FROM PagosOrdenados
WHERE Num_Pago = 1;
GO
/****** Objeto: Table [dbo].[CarteraClientes] Fecha de script: 02/10/2026 12:01:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarteraClientes](
	[Cliente] [varchar](50) NULL,
	[Monto_Solicitado] [int] NULL,
	[Historial_Limpio] [bit] NULL,
	[Dictamen] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Objeto: StoredProcedure [dbo].[ObtenerPagosCliente] Fecha de script: 02/10/2026 12:01:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerPagosCliente]
@NombreCliente VARCHAR (100)
AS
BEGIN
SELECT
ID_Pago,
Cliente,
Monto_Pagado,
Fecha_Pago
FROM PagosClientes
WHERE Cliente = @NombreCliente 
ORDER BY Fecha_pago DESC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[SP_ObtenerCarteraPorRiesgo] Fecha de script: 02/10/2026 12:01:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerCarteraPorRiesgo]
@NivelRiesgo VARCHAR(20)
AS
BEGIN
SELECT *
FROM V_ReporteCartera
WHERE Nivel_Riesgo = @NivelRiesgo;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_RegistrarPago] Fecha de script: 02/10/2026 12:01:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegistrarPago]
@Cliente VARCHAR(100),
@Monto_Pagado DECIMAL(10,2),
@Fecha_Pago DATE
AS
BEGIN
SET NOCOUNT ON;
BEGIN TRY
IF @Monto_Pagado <=0
BEGIN
RAISERROR('El monto del pago debe ser mayor a $0.00.',16,1);
RETURN;
END
IF @Fecha_Pago > GETDATE()
BEGIN
RAISERROR('No se pueden registrar pagos con fecha futura.', 16, 1);
RETURN;
END
INSERT INTO PagosClientes (Cliente, Monto_Pagado, Fecha_Pago)
VALUES (@Cliente, @Monto_Pagado, @Fecha_Pago);
PRINT 'Pago registrado correctamente.';
END TRY
BEGIN CATCH
DECLARE @ErrorMessage NVARCHAR(4000)=ERROR_MESSAGE();
RAISERROR(@ErrorMessage,16,1);
END CATCH
END;
GO
